# Node
node_modules/
package-lock.json

# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.vscode/
.settings/
*.classpath
.project
.springBeans
.sts4-cache

# OS
.DS_Store
Thumbs.db

# Logs
*.log
.class
.lst